.container {
    position: absolute;
    width: 1349px;
    height: 96px;
    left: 0px;
    top: 0px;
    
    background: #ECE4E3;
}

.heading {
    position: absolute;
    width: 146px;
    height: 41px;
    left: 156px;
    top: 25px;
    margin-top: -40px;
    margin-bottom: 0;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

    color: #2E2A40;
}

.home-page {
    position: absolute;
    width: 51px;
    height: 20px;
    left: 0px;
    top: 0px;
    margin-left: 402px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.services-page {
    position: absolute;
    width: 51px;
    height: 20px;
    left: 0px;
    top: 0px;
    margin-left: 477px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.aboutus-page {
    position: absolute;
    width: 51px;
    height: 20px;
    left: 0px;
    top: 0px;
    margin-left: 584px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.contact-page {
    position: absolute;
    width: 51px;
    height: 20px;
    left: 0px;
    top: 0px;
    margin-left: 691px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.login-page {
    width: 47px;
    height: 20px;
    margin-top: 41.5px;
    margin-left: 1234.5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}